.DS_Store
*.pyc
*.log

local_settings.py

# git
bin/diff-highlight

# Atom
atom/*
!atom/config.cson
!atom/init.zsh
!atom/init.coffee
!atom/snippets.cson
!atom/keymap.cson
!atom/styles.less

# fish
fish/fish_history
fishd.*
